<!doctype html>

<html lang="en">

<head>

    <link rel="stylesheet" href="style.css">

    <title>Raccoon POS</title>

</head>

<body>

    <div class="container">
        <table>
            <tr>
                <th>Sales Order ID</th>
                <th>Total Price</th>
                <th>Created On</th>
                <th>Updated On</th>
            </tr>
            <tr>
                <% if (sales.length !== 0) { %> 
                    <% sales.forEach((element) => { %>
                <th><a href="/sales/history/<%= element._id %> "> <%= element._id %></a></th>
                <th><%= element.totalPrice %></th>
                <th><%= element.createdAt.toDateString() %></th>
                <th><%= element.updatedAt.toDateString() %></th>
            </tr>
            <% }); %>
            <% } else { %>
                <p>No Sales History</p>
                <% } %>
        </table>
    </div>
</body>
</html>