
<%- include('../partials/head') %>

<body>

    <div class="container">
        <form form method="POST" action="/sales/history">
            <label for="fname">Customer Name:</label><br>
            <!-- <input type="text" id="customerId" name="customerId" placeholder="Customer ID"><br> -->
            <select name="customerId" >
               <%  for (const customer of customers) { %>
                <option value="<%= customer._id %>">
                    <%= customer.name %>
                </option>

                <% } %> 
            </select><br>
            <label for="lname">Product Name:</label><br>
            <!-- <input type="text" id="productId" name="productId" placeholder="Product ID"><br> -->
            <select name="productId" >
                <%  for (const product of products) { %>
                 <option value="<%= product._id %>">
                     <%= product.name %>
                 </option>
 
                 <% } %> 
             </select><br>

             <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label" >Quantity:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="productQuantity" value="">
            </div>

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label" >Unit Price:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="productPrice" value="">
            </div>

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label" >Total:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="totalPrice" value="">
            </div>

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label" >Remarks:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="remarks" value="">
            </div>

            <input type="submit" class="form-control btn-primary mb-1" value="Submit">
            
         </form>  

        <form method="GET" action="/sales">
            <button class="form-control btn-secondary" type="submit" >Back</a>
        </form>
    </div>
    
    
</body>

<%- include('../partials/foot') %>