<!doctype html>

<html lang="en">

<head>


    <title>Raccoon POS</title>

</head>

<body>

    <div class="container">
        <table>
            <tr>
                <th>Sales Order ID</th>
                <th>Customer ID</th>
                <th>Product ID</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>Created On</th>
                <th>Updated On</th>
            </tr>
            <tr>
                <th><%= sales._id %></th>
                <th><%= sales.customerId %></th>
                <th><%= sales.productId %></th>
                <th><%= sales.productQuantity %></th>
                <th><%= sales.productPrice %></th>
                <th><%= sales.totalPrice %></th>
                <th><%= sales.createdAt.toDateString() %></th>
                <th><%= sales.updatedAt.toDateString() %></th>
            </tr>
        </table>

        <form action="/sales/history">
            <button type="submit">Back</button>
         </form>
        <form action="/sales/history/<%= sales._id %>/edit">
            <button type="submit">Edit</button>
         </form>

         <form method="post" action="/sales/history/<%= sales._id %>?_method=DELETE">
            <button type="submit" >Delete</a>
        </form>

    </div>
</body>
</html>